
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&family=Roboto:wght@700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/wallpaper.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    padding: 20px;
    box-shadow: 0 1px 10px #ccc;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(187, 185, 201);
}

main > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

input{
    padding: 5px;
    outline: none;
    accent-color: blueviolet;
    border-color: blueviolet;
    border-radius: 10px;
}
input[type=checkbox]{
    position: absolute;
    height: 20px;
    width: 20px;
}
.chkbox {
    position: relative;
    display: block;
    padding-left: 30px;
    cursor: pointer;
}
.chkbox:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 0;
    display: block;
    height: 20px;
    width: 20px;
    background-color: #5555558c;
    border-radius: 3px;
}
.chkbox:hover:before {
    background-color: rgba(137, 43, 226, 0.445);
}
/*
input[type=range]{
    width: 90%;
    cursor: pointer;
    appearance: none;
    background-color: blueviolet;
}*/
input[type=range] {
    -webkit-appearance: none;
    width: 90%;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 90%;
    height: 10px;
    cursor: pointer;
    background: blueviolet;
    border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 30px;
    border-radius: 7px;
    background: rgb(89, 0, 255);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}
button{
    background-color: blueviolet;
    cursor: pointer;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
}